@media screen and (max-width: 992px) and (min-width: 768px) {

  html {
    font-size: 11px;
  }

  .back-top__button {
    width: 50px;
    height: 50px;
  }

  .footer {
    max-width: 720px;

    .footer__content {
      padding: 40px 30px 40px 30px;

      .footer-part {
        flex-wrap: wrap;
        justify-content: space-evenly;

        & .fs21 {
          font-size: 1.2em;
        }


        .logo-img {
          padding: 0 0 30px 0;
          width: 35%;
          margin: 0;


          & img {

            height: 130px;
          }
        }

        .hot-line {
          width: 45%;
        }

        .map-site {
          width: 35%;

          .map-site__list {
            padding: 30px 40px 0 0;
          }
        }

        .footer__social {
          width: 45%;

          span {

            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .sticky-burger {
    position: fixed !important;
    top: 0 !important;
    left: 55px !important;
    z-index: 15;
  }

  .container {
    max-width: 720px;

    .button-send-orange {
      width: 200px;
      height: 30px;
      border: 1px solid rgb(239, 95, 49);

    }

    .send-button__arrow.send-button__rocket {
      background-size: 70%;
    }

    .send-button__arrow {
      width: 30px;
      height: 30px;
      background-size: 40%;
    }

    .send-button__arrow__blue {
      width: 30px;
      height: 30px;
      background-size: 40%;
    }

    .title-bordered:after {
      width: 70px;
      border-bottom: 1px solid rgb(239, 95, 49);

    }

    .mt45 {
      margin-top: 30px;
    }

    section {
      padding: 20px 30px;
    }

    .header {

      .top-header {
        min-height: 30px;

        & img {
          height: 70%;
        }

        .right-align {
          width: 50px;
          background-size: 50%;
        }

        .show-search {
          width: 190px;
        }
      }

      .header-main {
        height: 100px;
        position: relative;


        .company-name {
          width: 600px;
        }

      }

      .navigation-menu {
        display: none;
      }

      .navigation-menu__list {
        border: none;
      }

      .navigation-menu__item {
        display: none;

        &-burger {
          padding: 20px 15px;
          width: 180px;
        }
      }

      .nav-burger {
        display: flex;
        width: 60px;
        height: 30px;
        background: url("img/gamb-icon.gif") no-repeat center rgb(243, 123, 85);
        border: 1px solid rgb(239, 95, 49);
        background-size: 55%;
        transition: .2s ease;
        position: relative;
        right: 515px;
        top: -110px;

        .navigation-menu__list-burger {
          display: none;
        }

      }

      .nav-burger:hover {
        border: none;
        transition: .2s ease;

          .navigation-menu__list-burger {
            height: auto;
            display: flex;
            flex-direction: column;
            list-style: none;
            z-index: 20;
          }

        .navigation-menu__item-burger {
          text-transform: uppercase;
          font-weight: 600;
          padding: 15px 15px;
          border-bottom: 2px solid rgb(219, 228, 233);
          background-color: white;
          font-size: .8em;
          text-align: center;
          transition: .2s ease;



          &:hover {
            border-bottom: 2px solid rgb(239, 95, 49);
            padding-bottom: 18px;
            transition: .2s ease;
          }

        }
      }

    }

    .services {

      .services-articles {
        margin-top: 30px;

        .services-articles__item {
          width: 44%;

          .services-articles__img {
            height: 300px;
          }

          & > span {
            padding: 0 20px 20px;
          }
        }
      }
    }

    .tariffs .tariffs-content .tariffs-content__img {
      height: 350px;

      & span {
        margin-top: 160px;
        border-bottom: 1px solid #ef5f31;
      }
    }

    .news {

      .news-content {
        margin: 40px 0;

        .news-content__item {
          height: 350px;
          margin: 0 10px;
        }
      }
    }

    .reports {

      .reports-content {
        width: 80%;

        .reports-content__partition {
          padding: 30px 0;
        }
      }
    }

    .tidings {

      .tidings-content {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;


        .tidings-content__item {
          padding-bottom: 25px;
          justify-content: space-around;
          height: 465px;

          & > .article-title {
            height: 30px;
          }
        }
      }
    }

    .gallery {
      height: 800px;
      padding-right: 0;

      .gallery-content {
        height: 500px;

        .gallery-content__item {
          margin: 0 15px 15px 0;
          width: 47%;

          .gallery-content__button {
            width: 150px;
          }
        }
      }

    }

    .contacts {
      background-position: top left 35%;

      .contacts-item {
        height: 400px;
      }

      .contacts-item__part1 {

        .contacts-adress {

          .contacts-adress__logo {
            width: 40px;
          }
        }
      }

      .contacts-item__part2 .contacts-form {
        margin-left: 15px;
        width: 450px;

        & .contacts-form__item {
          width: inherit;
          height: 40px;
          border: 1px solid #ef5f31;
        }

        & .contacts-submit {
          width: 450px;

          &__button-send {
            background-size: 20px;
          }
        }

        & .contacts-form__name-img {
          width: 50px;
          background-size: 20px;

          &:after {
            border-right: 1px solid #f37b55;
            top: 5px;
            height: 30px;
          }
        }

        & .contacts-form__surname-img {
          width: 50px;
          background-size: 20px;

          &:after {
            border-right: 1px solid #f37b55;
            top: 5px;
            height: 30px;
          }
        }

        & .contacts-form__phone-img {
          width: 50px;
          background-size: 20px;

          &:after {
            border-right: 1px solid #f37b55;
            top: 5px;
            height: 30px;
          }
        }

        .contacts-form__checkbox input {
          width: 25px;
          height: 25px;
        }

        .checkbox-custom {
          width: 25px;
        }

        .contacts-submit .contacts-submit__button {
          border: 1px solid white;

          .contacts-submit .contacts-submit__button-send {
            background-size: 70%;
          }
        }
      }
    }

    .schedule .schedule-wrap {
      flex-wrap: wrap;
      height: 400px;

      .schedule-item {
        width: 205px;
        height: 185px;

        & .schedule-item__title {
          background-size: 90%;
          margin: 20px 0 0 -5px;
          padding: 15px 0 0 20px;
        }
        & .schedule-item__text {
          height: 85px;
        }
      }
    }

    .footer {

      .footer__content {

        .footer-part {

          .hot-line {
            margin-top: 20px;
          }
        }
      }
      .footer__social {

        .social-logo {
          width: 360px;
        }
      }
    }

    .contacts-map__992 {
      display: block;
    }

    .contacts-map__1920,
    .contacts-map__1440,
    .contacts-map__1200,
    .contacts-map__4k,
    .contacts-map__768,
    .contacts-map__576,
    .contacts-map__mini {
      display: none;
    }

  }




  .gallery-main {

    .gallery-content {
      padding-top: 20px;

      .gallery-img__preview {
        padding: 10px;
      }
    }
  }
}